html {
    background-color: #959a49;
    display: flex;
    justify-content: center;
  
  }

body {
    grid-template-columns: auto 95% auto;
}

header {
    box-shadow: 0 0 10px #6b6968;
}

header h1 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: static;
}

nav>ul {
    grid-template-columns: 1fr;
}

section.grid {
    grid-template-columns: 1fr;
} 

section.grid img {
    max-width: 300px;
}

section {
    padding: 0 1em;
} */

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

section.wireframe {
    padding: 1rem;
    display: block;
    grid-template-columns: 1100px 1fr;
    width: 100%;
} 


.content-wrapper {
    color: #565656;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 200px 200px 200px auto;
    grid-template-areas:
        "totalDrinksDisplay"
        "weather-summary"
        "weather-forcast"
        "city-desc";
    margin-block: 10px;
}

