@media only screen and (min-width: 992px) {

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}
* {
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
}

html {
    background-color: #dee2c7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: auto;
    margin: 5%;
    /* width: auto; */
}
body {
    border-radius: 5px;
    min-height: 506px;
    width: 70%;
    max-width: 800px;
    background-color: white;
}
header {
    padding: 20px;
    /* display: grid; */
    background-color: #c2bdbd;
    /* grid-template-columns: 22% 34%; */
    border-radius: 15px;
    /* z-index: 15; */
    /* justify-content: space-around; */
    box-shadow: 2px 2px 25px rgb(20, 20, 20);
}

footer {
    background-color: #c2bdbd;
    position: relative;
    color: black;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}