@media only screen and (min-width: 32.5em) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    header, footer {
        padding: 20px;
        display: grid;
        background-color: #EFD8C7;
        grid-template-columns: 30% 42%;
        border-radius: 15px;
        z-index: 15;
        justify-content: space-around;
        box-shadow: 1px 1px 25px black;
    }

    header img {
        float: right;
        box-shadow: 5px 5px 5px  #1d1d1d;
        border-top-right-radius: 8px;
    }
}